  </div> <!-- Close main-content -->

  <!-- Footer -->
  <%- include('footer') %>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/table-controls.js"></script>
  <script src="/teapot.js"></script>
  <script src="/dom.js"></script>
  <script src="/chopped.js"></script>
  <script src="/redundancy.js"></script>
  <script src="/tableau.js"></script>
</body>
</html>
